.titulo{
    text-align: center;
    background-color: bisque;
    padding: 15px;
    width: 80%;
    margin: auto;
}

.titulo img{
    border-radius: 50%;
    border: solid 1px black;
}

.menu{
    padding: 10px;
    margin: auto;
    font-family: fantasy;
    background-color: darkblue;
    border: solid 2px red;
    border-radius: 15px;
    text-align: center;
    color: antiquewhite;
}